@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityUser>

@{
    ViewData["Title"] = "Event Participants";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>Participants</h3>

            @if (Model != null && Model.Any())
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var participant in Model)
                        {
                            <tr>
                                <td>@participant.Email</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No participants have signed up yet.</p>
            }
        </div>
    </div>
</div>
